# ClientProvider table

In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv("../data/inital_dataset.csv")

In [5]:
clients = pd.DataFrame(df[['NIF', 'Cliente_Proveedor', 'Direccion']])
clients = clients.drop_duplicates(subset='NIF', keep='first')
clients = clients.reset_index(drop=True)
clients.columns = ['NIF', 'Name', 'Address']
print("nº clients: ", clients.shape[0])
clients.head(8)

nº clients:  26

         NIF                    Name                       Address
0  B33445522       Materiales Centro         C/ Serrano 14, Madrid
1  87654321N              MotoRepara         C/ Montaña 4, Granada
2  S55667788  Distribuciones Almería  Av. Mediterráneo 23, Almería
3  88990011T               AutoQuick           C/ Toledo 5, Toledo
4  B23456789       Suministros Lopez           C/ Mayor 12, Madrid
5  56789012M       Autorecambios Gil           C/ Palmera 1, Cádiz
6  B99887766         TecnoParts S.L.     Pol. Ind. Norte, Valencia
7  55667788W               Motorline        C/ Castilla 22, Madrid

In [6]:
clients.to_csv('../exports/clients.csv', index=False)