# Employee table

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv("../data/inital_dataset.csv")

In [15]:
employees = pd.DataFrame(df['Empleado'].unique())
employees = employees.reset_index(drop=False)
employees.columns = ['id', 'Name']
employees['id'] += 1
employees.head(8)

   id           Name
0   1  Javier Torres
1   2     Ana García
2   3    Pedro López
3   4     Marta Ruiz

In [16]:
employees.to_csv('../exports/employees.csv', index=False)