# Normalize the data

- dates
- split products
- split ammounts
- split prices
- prices with coma

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("../data/inital_dataset.csv")

In [14]:
# Dates
df['Fecha'] = pd.to_datetime(df['Fecha'], format='mixed', dayfirst=True)

# Product table

In [64]:
# Product table
productList = pd.DataFrame(df['Productos'].str.split(';').explode().str.strip().unique())
productList = productList.reset_index(drop=False)
productList.columns = ['id', 'Name']
productList.head(8)

   id                Name
0   0         Batería 12V
1   1            Cable 2m
2   2   Aceite lubricante
3   3         Filtro aire
4   4  Compresor portátil
5   5        Taladro 500W
6   6       Llave inglesa
7   7      Kit reparación

In [65]:
productList.to_csv('../exports/product.csv', index=False)

In [59]:
productos = pd.DataFrame({
    'ProductName': df['Productos'].str.split(';').explode().str.strip(),
    'Quantity': df['Cantidades'].str.split(';').explode().str.strip(),
    'TotalPrice': df['Precios'].str.split(';').explode().str.strip()
})
productos['Quantity'] = pd.to_numeric(productos['Quantity'])
productos['TotalPrice'] = pd.to_numeric(productos['TotalPrice'].str.replace(',', '.'))
productos.head(8)

          ProductName  Quantity  TotalPrice
0         Batería 12V         8       61.21
1            Cable 2m         4       32.22
1   Aceite lubricante         8        4.21
1         Filtro aire         8       62.28
2   Aceite lubricante         4       36.32
2            Cable 2m         5        3.98
3  Compresor portátil         9        3.37
3   Aceite lubricante         8       54.08

In [34]:
df['Precios'].str.split(';')

0                           [61.21]
1              [32.22, 4,21, 62,28]
2                     [36,32, 3.98]
3              [3.37, 54.08, 59,21]
4      [31.24, 61.21, 52,64, 61.41]
                   ...
195       [62,87, 41.25, 6.1, 5,71]
196            [11.82, 62.2, 57.73]
197    [22.71, 50.99, 53.28, 50.58]
198                  [59.07, 67.56]
199                  [61,79, 76.58]
Name: Precios, Length: 200, dtype: object