# Normalize the data

- dates
- split products
- split ammounts
- split prices
- prices with coma

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("../data/inital_dataset.csv")

In [14]:
# Dates
df['Fecha'] = pd.to_datetime(df['Fecha'], format='mixed', dayfirst=True)

# Product table

In [64]:
# Product table
productList = pd.DataFrame(df['Productos'].str.split(';').explode().str.strip().unique())
productList = productList.reset_index(drop=False)
productList.columns = ['id', 'Name']
productList.head(8)

   id                Name
0   0         Batería 12V
1   1            Cable 2m
2   2   Aceite lubricante
3   3         Filtro aire
4   4  Compresor portátil
5   5        Taladro 500W
6   6       Llave inglesa
7   7      Kit reparación

In [65]:
productList.to_csv('../exports/product.csv', index=False)

# ProductTransaction Table

In [134]:
productos = pd.DataFrame({
    'ProductName': df['Productos'].str.split(';').explode().str.strip(),
    'Quantity': df['Cantidades'].str.split(';').explode().str.strip(),
    'TotalPrice': df['Precios'].str.split(';').explode().str.strip()
})
productos['Quantity'] = pd.to_numeric(productos['Quantity'])
productos['TotalPrice'] = pd.to_numeric(productos['TotalPrice'].str.replace(',', '.'))
productos.head(8)

          ProductName  Quantity  TotalPrice
0         Batería 12V         8       61.21
1            Cable 2m         4       32.22
1   Aceite lubricante         8        4.21
1         Filtro aire         8       62.28
2   Aceite lubricante         4       36.32
2            Cable 2m         5        3.98
3  Compresor portátil         9        3.37
3   Aceite lubricante         8       54.08

In [135]:
# map products
products_id_map = dict(zip(productList['Name'], productList['id']))

productos['ProductID'] = productos['ProductName'].map(products_id_map)
productos = productos.drop('ProductName',axis=1)
productos.head(8)

   Quantity  TotalPrice  ProductID
0         8       61.21          0
1         4       32.22          1
1         8        4.21          2
1         8       62.28          3
2         4       36.32          2
2         5        3.98          1
3         9        3.37          4
3         8       54.08          2

In [136]:
productos.reset_index()
productos['id'] = range(1, len(productos) + 1)
productos

     Quantity  TotalPrice  ProductID   id
0           8       61.21          0    1
1           4       32.22          1    2
1           8        4.21          2    3
1           8       62.28          3    4
2           4       36.32          2    5
..        ...         ...        ...  ...
197         9       50.58          7  510
198         9       59.07          4  511
198         1       67.56          1  512
199         8       61.79          4  513
199         9       76.58          5  514

[514 rows x 4 columns]